body{
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.item_container{
    width: 150px;
    height: 200px;
    overflow: auto;
    text-align: center;
}

.item_container img{
    max-width: 70%; 
    max-height: 70%; 
    display: block; 
    margin: 0 auto;
}

.item_container button{
    width: 100%;
    padding: 5px;
    color: var(--tg-theme-button-color);
    background: var(--tg-theme-button-text-color);
}


.item_container button:hover{
    background: var(--tg-theme-secondary-bg-color);
    transition: all ease 0.3s;
}